.loginBox{
    width:25em;
    height:21em;
    background-color:#ffffff;
    margin:auto;
    margin-top:8em;    
    text-indent:1.6em;
}
.loginBox_header{
    margin-top:1.0417em;
    font-size:1.3em;
    color:#333333;
    padding-bottom:0.5em;
    border-bottom:1px dashed #e5e5e5;
}
.loginBox_content{
    margin-top:0.3em;
}
.loginBox_user{margin-top:0.521em; margin-bottom:0.521em;}
.loginBox_password{
    margin-top:0.521em;
}
.loginBox_content input{
    width:19.5em;
    text-indent:0.5em;
    height:2.083em;
    border-radius:5px;
    border:1px solid #e5e5e5;
    font-size:1.1em;
}
.loginBox_button{
    margin-top:1em;
    font-size:1.2em;
    width:18em;
    text-indent:0.5em;
    height:1.944em;
    border-radius:5px;
    border:1px solid #a5e33d;
    background-color:#a5e33d;
    color:#ffffff;
}
.loginPasswordLabel{float:left;}
.forgetPassword{
    float:right;
    margin-right:2em;
    color:#fe153b;
}
