<div class="aside_userMessage">
	<div class="aside_userMessage_userIcon">
		<em class="icon iconfont ">&#xf007c;</em>
	</div>
	<div class="aside_userMessage_user">
		<div>
			<p>
				<em class="aside_userMessage_userName">UserName</em>
			</p>
			<button class="aside_userMessage_userButton">
				<em>修改</em>
			</button>
		</div>
	</div>
</div>
<div class="aside_sidebar">
	<ul>
		<!-- <li class="aside_sidebar_statisticalHomeButton sidebar_click"
			ng-click="sidebarClick(1,'modules/content/index_content_statisticalHome.html')"><a><em
				class="aside_sidebar_click iconfont aside_sidebar_icon">&#xe605;</em><em
				class="aside_sidebar_message">统计首页</em></a></li> -->
		<li class="aside_sidebar_drugManagementButton sidebar_click"
			ng-click="sidebarClick(1,'modules/content/index_content_resourceManagement.html')"><a><em
				class="aside_sidebar_click iconfont aside_sidebar_icon">&#xe62c;</em><em
				class="aside_sidebar_message">资源管理</em></a></>
		<li class="aside_sidebar_businessManagementButton"
			ng-click="sidebarClick(2,'modules/content/index_content_businessManagement.html')"><a><em
				class="iconfont aside_sidebar_icon">&#xe600;</em><em
				class="aside_sidebar_message">企业管理</em></a></li>
		<li class="aside_sidebar_userManagementButton"
			ng-click="sidebarClick(3,'modules/content/index_content_userManagement.html')"><a><em
				class="iconfont aside_sidebar_icon">&#xf007c;</em><em
				class="aside_sidebar_message">用户管理</em></a></li>
		<li class="aside_sidebar_statisticalHomeButton "
			ng-click="sidebarClick(4,'modules/content/index_content_feedbackManagement.html')"><a><em
				class=" iconfont aside_sidebar_icon">&#xe629;</em><em
				class="aside_sidebar_message">反馈管理</em></a></li>
	</ul>
</div>
